main{
    font-family: "Poppins", sans-serif;
    background-color: #e6ccb2;
    border-radius: 5px;
    /* width: 100%; */
    margin: 0 auto;
    padding: 15px;
}

#title{
    text-align: center;
    padding-top: 10px;
    font-size: 3.5rem;
    margin-bottom: 0;
}
#description{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    font-size: 1.2rem;
}

#img-div{
    display: block;
    padding: 30px;
    background-color: #ede0d4;
    border-radius: 10px;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#image{
    width: 800px;
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.374);
}

#img-caption{
    padding-top: 10px;
    text-align: center;
    font-size: 1.2rem;
}

#tribute-info ul{
    width: 60%;
    padding-right: 20px;
    margin: 0 auto;
}

#timeline-heading{
    text-align: center;
    text-decoration: underline;
    font-size: 1.5rem;
}

#list li{
    padding-bottom: 5px;
    padding-top: 20px;
    font-size: 1.2rem;
    /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center; */
}

.divider {
    width: 100%;
    border: 1px solid #b0886889;
}

.strong{
    font-weight: 700;
    font-size: 1.5rem;
    /* max-width: 15%; */
    width: 65px;
    display: inline-block;
}
.event{
    /* max-width: 80%; */
    padding-left: 5px;
    /* display: inline-block; */
}

.quote{
    text-align: left;
    padding: 10px;
    width: 70%;
    margin: 10px auto;
    height: 50%;
    /* border: 2px solid black; */
    background-color:#ede0d460;
    box-shadow: 0 0 10px #ede0d460;
}

.quote-line{
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.citation{
    text-align: right;
    padding-top: 0;
    margin-top: 0;
    font-size: 1.2rem;
}

#read-more{
    text-align: center;
}
#read-more a{
    color: brown;
}

